extends ../node_modules/pug-bootstrap/_bootstrap
append styles
    // Custom styles for this template
    link(href='../../css/dashboard.css', rel='stylesheet')
    link(href='../../css/room_history.css', rel='stylesheet')
block body 
    title Escoge una aula
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')= title
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Dashboard
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')
    .row
        .container-fluid
        .row
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
            h1.page-header Dashboard
            h4 Horario Actual CFE:
                div(id='horario-cfe')
            h2 Escoge una aula:
            ul
              h3 
                a(href='/room/Aula201') Aula 201
              h3 
                a(href='/room/Aula202') Aula 202
              h3 
                a(href='/room/Aula203') Aula 203
              h3 
                a(href='/room/Aula204') Aula 204
            img(src='../../img/edificiot.PNG' width='900px')
    script(src='../../recommend.js')

